body {
    margin-top: 70px;
    background: url(../img/bg.png);
}

.kata-sym {
    height: 40px;
    width: 40px;
}

ul {
    list-style: none;
}

h1 {
	color: #333;
}

.flower-bg {
    background-image: url(../img/flower.png); /* Путь к фоновому рисунку */
    background-position: right bottom; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 340px 270px; /* Масштабируем фон */
}

@font-face {
    font-family: irohamaru; /* Имя шрифта */
    src: url(../fonts/irohamaru-mikami-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Pattaya; /* Имя шрифта */
    src: url(../fonts/Pattaya-Regular.ttf); /* Путь к файлу со шрифтом */
}
.list-group, h1, .mobile-hide, .back-link, .panel-success em {
    font-family: Pattaya;
}

em {
	font-style: normal;
}

.list-group{
    font-size: 18px;
}

.navbar, .navbar-brand {
    font-size: 26px;
}

.panel-success {
    font-size: 16px;
}

.panel-success {
    font-family: irohamaru;
}



@media screen and (min-width: 768px) {
    .mobile-hide {
        display: none;
    }
}

.kanji-list-itm img {
    margin: auto;
    width: 75px;
    #height: 60px;
    margin-bottom: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.kanji-list-itm img:hover {
    box-shadow: 0 0 4px rgba(255,0,0,0.5);
}

.panel-success {
    min-height: 402px;
}

.panel .btn-default {
    margin-bottom: 5px;
}

#minetable {
    background-size: cover;
    width: 800px;
}

#minetable td {
    width: 80px;
    height: 60px;
    border: 1px solid black;
}

#minetable td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#minetable a {
    display: block;
    height: 100%;
}