{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="panel panel-success">
  <div class="panel-body">
    {% for w in words %}
    {% ifchanged w.ext_of %}
      <div class="kata-sym" style="background-image: url({% static 'img/hiragana-chart.png' %}); background-position: -14px -{{ w.ext_of.img_offset }}px;"></div>
    {% endifchanged %}
    <a href="{% url 'subwords' w.id %}" class="btn btn-default">{{ w.word_jap }}</a>
    {% endfor %}
  </div>
</div>
{% endblock content %}